body {
    /* centering */
    margin: 0 auto;
    max-width: 50em;
    
    /* font */
    font-family:monospace;
    font-size:1rem;
    
    /* base colours */
    background-color:#222;
    color:#aaa;
    
    /* spacing */
    line-height:1.5;
    padding: 4em 1em;
    
    /* warping */
    /*
    transform:skewY(3deg);
    transform:skewX(3deg);
    */
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    margin:0 auto;
    padding:8rem 0;
    text-align:left;
    max-width:100%;
    width:80ch
}

h1 {
    text-align: center;
    color:#f0c674;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

/* accents */
h2,h3,h4,h5,strong {
    color: #ddd;
}

a {
    color: #cc6666;
}

/* logo */
.logo {
    height: 8rem;
    margin-bottom: 1rem;
    background-image: url(resources/logo.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
}
